aiobotocore==1.2.1
aiohttp==3.7.4.post0
aioitertools==0.7.1
alembic==1.0.8
aniso8601==6.0.0
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
awswrangler==2.5.0
Babel==2.6.0
beautifulsoup4==4.9.3
bokeh==2.3.0
certifi==2020.12.5
chardet==4.0.0
Click==7.0
cloudpickle==1.6.0
dask==2021.3.0
dateutils==0.6.6
distributed==2021.3.0
dnspython==2.1.0
email-validator==1.1.2
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Admin==1.5.7
Flask-BabelEx==0.9.4
Flask-Cors==3.0.10
Flask-Login==0.5.0
flask-mongoengine==1.0.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.3
fsspec==0.8.7
HeapDict==1.0.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
locket==0.2.1
lxml==4.6.2
Mako==1.0.8
MarkupSafe==1.1.1
mongoengine==0.23.0
mongoengine-goodjson==1.1.8
more-itertools==8.7.0
msgpack==1.0.2
multidict==5.1.0
openpyxl==3.0.7
packaging==20.9
partd==1.1.0
pg8000==1.17.0
Pillow==8.1.2
pluggy==0.9.0
psutil==5.8.0
py==1.10.0
pyarrow==3.0.0
pymongo==3.7.2
PyMySQL==1.0.2
pyparsing==2.4.7
pytest==4.4.0
python-dateutil==2.8.0
python-editor==1.0.4
PyYAML==5.4.1
redshift-connector==2.0.874
requests==2.25.1
scramp==1.2.0
six==1.12.0
sortedcontainers==2.3.0
soupsieve==2.2
speaklater==1.3
SQLAlchemy==1.3.1
tblib==1.7.0
toolz==0.11.1
tornado==6.1
typing-extensions==3.7.4.3
urllib3==1.26.3
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
xlrd==2.0.1
yarl==1.6.3
zict==2.0.0
